<% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@contact.errors.count, "error") %> prohibited this user from being saved: </h2>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="form-group">
  <%= f.label :name, :class => "control-label" %>
  <%= f.text_field :name, :class => "form-control", :required => true %>
</div>

<div class="form-group">
  <%= f.label :organization_name %>
  <%= f.text_field :organization_name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :type_of_organization, :class => "control-label" %>
  <%= f.select :type_of_organization, options_for_select(@type_of_organizations), {}, {:class => "org_dropdown form-control"} %>
  <%= text_field_tag :new_type_of_organization, nil, :class => "org_text_field form-control" %>
</div>

<div class="form-group">
  <%= f.label :email, :class => "control-label" %>
  <%= f.email_field :email, :class => "form-control", :required => true, :id => "inputEmail" %>
</div>

<div class="form-group">
  <%= f.label :type_of_service %>
  <%= f.text_field :type_of_service, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :mobile, :class => "control-label" %>
  <%= f.number_field :mobile, :class => "form-control", :required => true, "data-minlength" => "10" %>
</div>

<div class="form-group">
  <%= f.label :exp_price_range %>
  <%= f.select :exp_price_range, options_for_select(@price_ranges), {}, {:class => "form-control"} %>
</div>

<div class="form-group">
  <%= f.label :note %>
  <%= f.text_field :note, :class => "form-control" %>
</div>

<% if current_user %>
    <div class="form-group">
      <%= f.label :service_convinced %>
      <%= f.text_field :service_convinced, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :process_line %>
      <%= f.select :process_line, options_for_select(@pipelines), {}, {:class => "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :remarks %>
      <%= f.text_field :remarks, :class => "form-control" %>
    </div>
<% end %>



<script type="application/javascript">
    $("document").ready(function()
    {
        var dropdown_val = $(".org_dropdown").val()
        console.log(dropdown_val)
        if (dropdown_val == "Others")
        {
            change_to_org_text_field()
        }
        else
        {
            $(".org_dropdown").show()
            $(".org_text_field").hide()
        }

        $(".org_dropdown").change(function()
        {
            var val = $(this).val()
            console.log(val)
            if (val == "Others")
                change_to_org_text_field()
        })

        function change_to_org_text_field()
        {
            $(".org_dropdown").hide()
            $(".org_text_field").show()
        }
    })
</script>