<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12 page_header_div">
      <h1 class="page-header">Contacts</h1>
      <%= link_to "New Contact", new_admin_contact_path, :class => "btn btn-primary new_contact_button" %>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          All Contact Details
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <%= form_for [:admin, @contact] do |f| %>
                <%= render :partial => "form", :locals => {:f => f} %>
                <div class="actions">
                  <%= f.submit %>
                  <%= link_to "Cancel", admin_contacts_path %>
                </div>
            <% end %>
          </div>
          <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
      </div>
    </div>
  </div>
</div>