<% if @finance.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@finance.errors.count, "error") %> prohibited this user from being saved: </h2>
      <ul>
        <% @finance.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= hidden_field_tag :type, params[:type].to_s.downcase %>

<div class="form-group">
  <%= f.label :type, :class => "control-label" %>
  <%= f.select :type, options_for_select(@types, params[:type]), {}, {:class => "form-control disabled finance_type", :disabled => !@finance.new_record?} %>
</div>

<div class="form-group date">
  <%= f.label :process_date, :class => "control-label" %>
  <%= f.text_field :process_date, :class => "date_picker", :value => @finance.process_date.blank? ? "" : @finance.process_date.strftime("%m/%d/%Y") %>
</div>

<div class="form-group">
  <%= f.label :particulars, :class => "control-label" %>
  <%= f.text_field :particulars, :class => "form-control", :required => true %>
</div>

<div class="form-group">
  <%= f.label :amount, :class => "control-label" %>
  <%= f.text_field :amount, :class => "form-control", :required => true %>
</div>

<div class="form-group">
  <%= f.label :remarks, :class => "control-label" %>
  <%= f.text_field :remarks, :class => "form-control" %>
</div>

<script type="application/javascript">
    $(function()
    {
        $(".date_picker").datetimepicker({
            pickTime: false,
            useCurrent: true
        });

        $(".finance_type").change(function()
        {
            var f_type = $(".finance_type").val()
            $("#type").val(f_type)
        });
    })
</script>