<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12 page_header_div">
      <h1 class="page-header">Projects</h1>
      <%= link_to "New Finance", new_admin_finance_path, :class => "btn btn-primary new_project_button" %>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Inflow
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="finance-inflow-table"  data-source="<%= inflow_admin_finances_path(format: :json) %>">
              <thead>
              <tr>
                <th>Date</th>
                <th>Particulars</th>
                <th>Amount</th>
                <th>Remarks</th>
                <th class="project-actions">Actions</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
      </div>
    </div>

    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Outflow
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="finance-outflow-table"  data-source="<%= outflow_admin_finances_path(format: :json) %>">
              <thead>
              <tr>
                <th>Date</th>
                <th>Particulars</th>
                <th>Amount</th>
                <th>Remarks</th>
                <th class="project-actions">Actions</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Overall
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="finance-table">
              <thead>
              <tr>
                <th>Capital</th>
                <th>Total Inflow</th>
                <th>Total Outflow</th>
                <th>Balance</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= link_to(@capital[:capital].to_f, capital_admin_finances_path) %></td>
                  <td><%= @capital[:inflow].to_f %></td>
                  <td><%= @capital[:outflow].to_f %></td>
                  <td><%= @capital[:balance].to_f %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
      </div>
    </div>
  </div>
</div>


<script type="application/javascript">
    var editor;

    $(document).ready(function() {
        $('#finance-inflow-table').dataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: $('#finance-inflow-table').data('source'),
            pagingType: "full_numbers",
            fnDrawCallback: function( oSettings ) {
                $(".project-actions").removeClass("sorting")
            }
        });

    });

    $(document).ready(function() {
        $('#finance-outflow-table').dataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: $('#finance-outflow-table').data('source'),
            pagingType: "full_numbers",
            fnDrawCallback: function( oSettings ) {
                $(".project-actions").removeClass("sorting")
            }
        });

    });
</script>

<style type="text/css">
    .page_header_div h1
    {
        float: left;
    }
    .page_header_div .new_project_button
    {
        float: right;
        margin: 48px 6px 0 0;
    }

</style>